* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'BioSans';
    src: url('/fonts/BioSans-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BioSans';
    src: url('/fonts/BioSans-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BioSans';
    src: url('/fonts/BioSans-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'BioSans';
    src: url('/fonts/BioSans-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'BioSans';
    src: url('/fonts/BioSans-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'BioSans';
    src: url('/fonts/Bio Sans Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BioSans';
    src: url('/fonts/Bio Sans Bold Italic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'BioSans';
    src: url('/fonts/Bio Sans Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'BioSans';
    src: url('/fonts/Bio Sans SemiBold Italic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'BioSans';
    src: url('/fonts/Bio Sans ExtraBold Italic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'BioSans';
    src: url('/fonts/Bio Sans Light Italic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'BioSans';
    src: url('/fonts/Bio Sans ExtraLight Italic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}